body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-header{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  background-color: rgb(1, 1, 22);
  color: wheat;
  justify-content: center;
  align-items: center;
}

.headingText{
  color: wheat;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  margin: 25px;
}


.row{
  display: flex;
  flex-direction: row;
}

.col{
  display: flex;
  flex-direction: column;
}


.jcCenter{
  justify-content: center;
}

.bBotomRight {
  border-right: 10px solid green;
  border-bottom: 10px solid  green;
}

.bBottom{
  border-bottom: 15px solid green;

}
.bRight {
  border-right: 15px solid green;
}

.clear{
  margin-top: 20px;
  border: 2px solid red;
  background-color: darkblue;
  width: 150px;
  height: 50px;
  font-size: 20px;
  color: wheat;
}
